<div class="container-fluid">
    <div class="row">
        <div class="col-12 root-container">
            <div class="row">

            <form [formGroup]="appointmentForm" (ngSubmit)="addAppointment()"  class="form-container col-4 offset-4">

                <h1 class="title mt-3 mb-5 text-center">
                    Register an appointment
                </h1>
                <div class="col-10 offset-1">
                    <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Patient</mat-label>
                        <img matPrefix src="../assets/circle-user.png" alt="" class="input-icon">
                        <mat-select formControlName="patient">
                            <mat-option *ngFor="let patient of patients" [value]="patient.id">
                                {{ patient.id ? patient.firstName : 'Not assigned' }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-10 offset-1">
                    <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Doctor</mat-label>
                        <img matPrefix src="../assets/circle-user.png" alt="" class="input-icon">
                        <mat-select formControlName="doctor">
                            <mat-option *ngFor="let doctor of doctors" [value]="doctor.id">
                                {{ doctor.firstName ? doctor.firstName : 'Not assigned' }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-10 offset-1" >
                    <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Reason</mat-label>
                        <img matPrefix src="../assets/lightbulb-question.png" alt="" class="input-icon">
                        <input matInput type="text" id="reason" formControlName="reason" required>
                    </mat-form-field>
                </div>

                <div class="col-10 offset-1 mb-5">
                    <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Date</mat-label>
                        <img matPrefix src="../assets/calendar-birhtday-cake.png" alt="" class="input-icon">
                        <input matInput [matDatepicker]="picker" id="dateOfBirth" formControlName="appointmentDate" [min]="minDate" required readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>


                <div class="row col-10 offset-1">
                    <div class="col-sm-6">
                        <button mat-raised-button color="primary" type="submit" [disabled]="appointmentForm.invalid" class="w-100">Add</button>
                    </div>
                    <div class="col-sm-6">
                        <button mat-raised-button color="warn" type="button" (click)="appointmentForm.reset()" class="w-100">Clear All</button>
                    </div>
                </div>

            </form>
            <div class="col-6 right-container">
            </div>
        
    </div>
</div>
</div>
</div>  
