<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1 root-content">
            <div class="row">
                <div class="col-12 search pt-3">
                    <div class="row">
                        <div class="col-8">
                            <h2 class="list-doctor-title">List of Patients</h2>
                        </div>
                        <div class="col-4">
                            <h1>Find a patient by name</h1>
                        </div>
                    </div>
                    <form class="form-inline justify-content-end">
                        <div class="row">
                            <div class="col-4 offset-8 mt-1">
                                <input class="col-12" type="search" placeholder="Search for a patient..." aria-label="Search">
                                <span class="search-icon" type="submit">
                                    <img src="../assets/magnifying-glass_7987910.png" alt="">
                                </span>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Patient list -->
                <div class="col-12 mt-5" data-aos="fade-down" data-aos-duration="2000">
                    <div class="row">
                        <div class="col-12 patient-container">

                            <div class="Patient-info" *ngFor="let patient of patients">

                                <div class="row mb-2">
                                    <div class="col-4">
                                        <span><img src="../assets/doctor_4131330.png" alt=""></span>
                                    </div>
                                    <div class="info-name col-8">
                                        <h1>{{ patient.firstName }}</h1>
                                        <h1>{{ patient.lastName }}</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <ul>
                                            <li>Date of birth: {{ patient.dateOfBirth }}</li>
                                            <li>Gender: {{ patient.gender }}</li>
                                            <li>Address: {{ patient.address }}</li>
                                            <li>Email: {{ patient.email }}</li>
                                            <li>Phone number: {{ patient.phoneNumber }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn btn-outline-danger col-6" (click)="deletePatient(patient.id)">Delete</button>
                                        <button class="btn btn-outline-primary col-6" (click)="editPatient(patient)">Update</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
