<div class="container-fluid">
    <div class="row">
        <div class="col-12 root-content">
            <div class="row">
                <div class="col-12 search p-1">
                    <div class="row">
                        <div class="col-8">
                            <h2 class="list-patient-title">List of Patients</h2>
                        </div>
                        <form class="form-inline justify-content-end col-4  mt-5" >
                            <div class="row">
                                <div class="col-12">
                                    <input class="col-12" type="search" placeholder="Search for a patient..." aria-label="Search">
                                    <span class="search-icon" type="submit">
                                        <img src="../assets/magnifying-glass_7987910.png" alt="">
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
  
                </div>

                <!-- Patient list -->
                <div class="col-12 mt-5" >
                    <div class="row">
                        <div class="col-12 patient-container">

                            <div class="Patient-info" *ngFor="let patient of patients" (mouseleave)="removeBlur()">

                                <div class="row mb-2 Patient-info-content" [ngClass]="{'blur': blurredPatientId === patient.id}" (mouseenter)="addBlur(patient.id)">
                                    <div class="col-4">
                                        <span>
                                            <img *ngIf="patient.gender === 'MALE'" src="../assets/man_7118569.png" alt="Male">
                                            <img *ngIf="patient.gender === 'FEMALE'" src="../assets/woman_7118642.png" alt="Female">
                                        </span>                                    </div>
                                    <div class="info-name col-8">
                                        <h1 class="firstName">{{ patient.firstName }}</h1>
                                        <h1 class="lastName">{{ patient.lastName }}</h1>
                                    </div>
                                    <div class="col-12 patientId ">
                                        {{ patient.id }}
                                    </div>  
                                    <div class="col-12 more-info"> 
                                        <ul>
                                            <li>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span class="">Date of birth: </span>
                                                    </div>
                                                    <div class="col-6 second-option">
                                                        {{ patient.dateOfBirth }}
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span class="">Gender: </span>
                                                    </div>
                                                    <div class="col-6 second-option">
                                                        {{ patient.gender }}
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span class="">Address: </span>
                                                    </div>
                                                    <div class="col-6 second-option">
                                                        {{ patient.address }}
                                                    </div>
                                                </div> 
                                                
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span class="">Email: </span>
                                                    </div>
                                                    <div class="col-6 second-option">
                                                        {{ patient.email }}
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span class="">Phone number: </span>
                                                    </div>
                                                    <div class="col-6  second-option">
                                                        {{ patient.phoneNumber }}
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                
                                <div class="row "   (mouseenter)="addBlur(patient.id)">
                                    <div class="col-8 offset-2 option">

                                        <img class="btn delete" (click)="deletePatient(patient.id)" src="../assets/cancel_5290141.png" alt="update-icon">

                                        <img class="btn update" (click)="editPatient(patient)" src="../assets/refresh_9685056.png" alt="update-icon">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
