<div class="container-fluid">
    <div class="row">
        <div class="col-12 root-content">

            <div class="row">

                <div class="col-12 search p-1">
                    <div class="row">
                        <div class="col-9">
                            <h2 class="list-patient-title">List of Patients</h2>
                        </div>

                        <form class="form-inline col-3 pt-4" >
                            <div class="row">
                                <div class="col-12">
                                    <input class="col-12" type="search" placeholder="Search for a patient..." aria-label="Search">
                                    <span class="search-icon" type="submit">
                                        <img src="../assets/magnifying-glass_7987910.png" alt="">
                                    </span>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <!-- Patient list -->
                <div class="col-12 mt-2" >
                    <div class="row">
                        <div class="col-12 patient-container">

                            <div class="Patient-info" *ngFor="let patient of patients" (mouseleave)="removeBlur()">

                                <div class="row  Patient-info-content" [ngClass]="{'blur': blurredPatientId === patient.id}" (mouseenter)="addBlur(patient.id)">
                                    <div class="col-10 offset-1 mb-5 header-info">
                                        <div class="row">

                                            <div class="col-2 info-pic">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <span>

                                                            <ng-container *ngIf="calculateAge(patient.dateOfBirth).isLessThanOneYear ">
                                                                <img *ngIf="patient.gender === 'MALE' " src="../assets/newborn_170687.png" alt="baby Boy ">
                                                                <img *ngIf="patient.gender === 'FEMALE' " src="../assets/newborn_170687.png" alt="baby Girl">
                                                            </ng-container>
                                                            <ng-container *ngIf="calculateAge(patient.dateOfBirth).age >= 1 && calculateAge(patient.dateOfBirth).age <= 12 && patient.gender === 'MALE' && !calculateAge(patient.dateOfBirth).isLessThanOneYear" >
                                                                <img src="../assets/boy_145867.png" alt="Boy">
                                                            </ng-container>
                                                            <ng-container *ngIf="calculateAge(patient.dateOfBirth).age >= 1 && calculateAge(patient.dateOfBirth).age <= 12 && patient.gender === 'FEMALE' && !calculateAge(patient.dateOfBirth).isLessThanOneYear">
                                                                <img src="../assets/girl_163844.png" alt="Girl">
                                                            </ng-container>
                                                            <ng-container *ngIf="calculateAge(patient.dateOfBirth).age > 12 && calculateAge(patient.dateOfBirth).age <= 17">
                                                                <img *ngIf="patient.gender === 'MALE'" src="../assets/boy_163837.png" alt="Teen Boy">
                                                                <img *ngIf="patient.gender === 'FEMALE'" src="../assets/girl_145854.png" alt="Teen Girl">
                                                            </ng-container>
                                                            <ng-container *ngIf="calculateAge(patient.dateOfBirth).age > 17 && calculateAge(patient.dateOfBirth).age <= 50">
                                                                <img *ngIf="patient.gender === 'MALE'" src="../assets/boss_265674.png" alt="Adult Man">
                                                                <img *ngIf="patient.gender === 'FEMALE' && !calculateAge(patient.dateOfBirth).isLessThanOneMonth" src="../assets/avatar_168915.png"  alt="Adult Woman">
                                                            </ng-container>
                                                            <ng-container *ngIf="calculateAge(patient.dateOfBirth).age > 64">
                                                                <img *ngIf="patient.gender === 'MALE'" src="../assets/grandfather_170687.png" alt="Senior Man">
                                                                <img *ngIf="patient.gender === 'FEMALE'" src="../assets/grandmother_4489184.png" alt="Senior Woman">
                                                            </ng-container>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="info-name col-10">
                                                <h1 class="firstName ">{{ formatFirstName(patient.firstName) }}</h1>
                                                <h1 class="lastName">{{ formatLastName(patient.lastName) }}</h1>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <ng-container *ngIf="calculateAge(patient.dateOfBirth).isLessThanOneMonth; else showMonthsOrYears">
                                                            {{ calculateAge(patient.dateOfBirth).age }} day(s) old
                                                        </ng-container>
                                                        <ng-template #showMonthsOrYears>
                                                            <ng-container *ngIf="calculateAge(patient.dateOfBirth).isLessThanOneYear; else showYears">
                                                                {{ calculateAge(patient.dateOfBirth).age }} month(s) old
                                                            </ng-container>
                                                            <ng-template #showYears>
                                                                {{ calculateAge(patient.dateOfBirth).age }} year(s) old
                                                            </ng-template>
                                                        </ng-template>
                                                    </div>
                                                    <div class="col-4 idPatient">
                                                        <span><img src="../assets/id-card.png" alt="id"></span>{{ patient.id }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>

                                    <hr class="col-6 offset-3">
 
                                    <div class="col-12 more-info"> 
                                        <ul>
                                            <li>
                                                <div class="row mb-2">
                                                    <div class="col-6 ">
                                                        <span><img src="../assets/date-of-birth.png" class="more-info-pic" alt="date of birth"></span>
                                                    </div>
                                                    <div class="col-6 second-option">
                                                        {{ patient.dateOfBirth }}
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row mb-2">
                                                    <div class="col-6">
                                                        <span><img src="../assets/sex.png" class="more-info-pic" alt="gender"></span>
                                                    </div>
                                                    <div class="col-6 second-option">
                                                        {{ patient.gender }}
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row mb-2">
                                                    <div class="col-6">
                                                        <span><img src="../assets/address.png" class="more-info-pic" alt="address"></span>
                                                    </div>
                                                    <div class="col-6 second-option">
                                                        {{ patient.address }}
                                                    </div>
                                                </div> 
                                                
                                            </li>
                                            <li>
                                                <div class="row mb-2">
                                                    <div class="col-6">
                                                        <span><img src="../assets/email (1).png" class="more-info-pic" alt="email"></span>
                                                    </div>
                                                    <div class="col-6 second-option">
                                                        {{ patient.email }}
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row mb-2">
                                                    <div class="col-6">
                                                        <span><img src="../assets/telephone.png" class="more-info-pic" alt="phone"></span>
                                                    </div>
                                                    <div class="col-6  second-option">
                                                        {{ patient.phoneNumber }}
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                
                
                                <div class="row "   (mouseenter)="addBlur(patient.id)">
                                    <div class="col-8 offset-2 option">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

