.root-content {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    padding: 10px;
    padding-top: 0%;
}

.root-content::before {
    content: '';
    position: absolute;
    top: 150px;
    bottom: 70px;
    left: 0px;
    width: 5px;
    background-color: #0000194b;
    border-radius: 50px;
}

.search {
    height: 10vh;
    background-color: rgb(2, 0, 29);   

}
.search input{
    height: 40px;
    padding-left: 60px;
    border-radius: 30px;
    border-color: rgba(198, 199, 201, 0.117);
}

.search input:focus {
        outline: none;
}

.search-icon img {
    height: 23px;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    bottom: 33px;
    left: 20px;
    
}

.search-icon img:active {
    transform: scale(1.2);
    /* Ajustez la valeur de l'échelle selon vos besoins */
    transition: transform 0.2s ease;
    /* Ajoute une transition pour une animation fluide */
}

.search h1 {
    font-size: 30px;
    font-weight: bold;
}

.form-inline  {
    position: relative;
    right: 40px;
    }

.patient-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 820px;
  overflow-y: scroll;
  padding-left: 20px;
  
}

.patient-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.Patient-info {
  padding: 15px;
  color: rgb(0, 0, 0);
  border-bottom: 8px solid rgb(251, 25, 232);
  border-top: 1px solid  rgba(146, 146, 245, 0.274);
  border-left: 1px solid rgba(146, 146, 245, 0.274);
  border-right: 1px solid rgba(146, 146, 245, 0.274);
  border-radius: 5px 5px 15px 15px;
  margin: 5px;
  width: 371px;
  margin-bottom: 10px;
  background-color: #f7f9fa;
    

}

.Patient-info:hover {
    background-color: #f9e3f2f8;
}

.Patient-info-content {
    transition: 1s;
}

.Patient-info-content:hover {
    transform: scale(1.07);
    transition: 0.4s;
}

.blur {
    filter: blur(0.3px);
    transition: 0.4s;
}



.Patient-info .option:hover  {
    opacity: 1;
 
}


.Patient-info:hover .option {
    opacity: 1;
    transition: 0.4s;
}

.Patient-info span img{
    height: 50px;
    width: 50px;
}


em {
    color: black;
}

.list-patient-title {
    color: #ffffff63;
    font-weight: 400;
    font-size: 50px;
    text-align: left;
    padding-top: 25px;
    padding-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul li {
    list-style: none;
}

.header-info {
    border: 1px solid rgba(0, 0, 0, 0.268);
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: 5px 5px  #1a03ae86;
    background-color: #ffffff;
}

.info-name {
    text-align: left;
    padding-left: 40px;
}

.info-pic {
    padding: 5px;

}

.info-pic .age {
    display: flex;
    flex-direction: row;


}

.firstName{
    font-size: 30px;
    font-weight: 500;
    color: #050505f9;

}

.lastName{
    font-size: 20px;
    font-weight: normal;
    color: #000000e7;
}


.more-info {
    position: relative;
    text-align: left;
    right: 25px;
}
.option {
    opacity: 0;
    transition: 0.4s;
    filter: blur(0px) !important;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.option  img{
    height: 45px;
    width: 60px;
    filter: blur(0px) !important;

}

.delete {
    margin-right: 50px;
    transition: 0.4s;
}
.update {
    transition: 0.4s;
}
.delete:hover, .update:hover {
    transform: scale(1.2);
    transition: 0.4s;
}

.second-option {
    text-align: right;
}
li span {
    font-weight: bold;
}

.idPatient {
    text-align: left;
    position: relative;
    left: -25px
}