
.form-container {
    height: 98vh;
    margin-top: 5px;
    position: relative;
    background-color: #f8f8f8;
}

.form-container-right-root {
    background-image: url("/assets/medical-physician-doctor-man.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 98vh;
    margin-top: 5px;
    margin-left: 0;
    padding-left: 0;

}

.login-id img {
    height: 28px;
    position: relative;
    left: 0px;
    top: 20px;
}

.login-id {
    position: relative;
    left: 10px;
}

.form-style {
    border: #ffffff00;
    height: 35px;
    border-bottom: #afafaf77 double;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 4px -6px rgb(0, 0, 0);
    font-size: 20px;
    padding-left: 110px;
    color: #000000f1;
    border-radius: 10px;
}

.form-style:focus {
    outline: none;
    padding-left: 110px;
    font-size: 20px;
}

.placeholder-form-style {
    position: relative;
    top: -40px;
    left: 110px;
    color: #000000c9;
    font-size: large;
    transition: 0.5s;
    pointer-events: none;
}

.form-style:focus + .placeholder-form-style {
    transition: 0.5s;
    position: relative;
    top: -80px;
    left: 0px;
    color: #35e1ff59;
}

.form-style:not(:placeholder-shown) + .placeholder-form-style {
    opacity: 0;
}

#dateOfBirth {
    padding-left: 80px;
    color: #323232e0;
    font-size: 20px !important;
}

.title {
    text-align: center;
    color: #080808a9;
    font-size: 40px;
    font-weight: bold;
    z-index: 1000 !important;
}