<div class="container-fluid">
    <div class="row">
        <div class="col-12 root-container mt-1">
            <div class="row">
                <form [formGroup]="doctorForm" (ngSubmit)="addDoctor()" class="form-container col-4 offset-4 mt-3">
                    <h1 class="title mt-1 mb-5 text-center">
                        Register a doctor
                    </h1>
                    <div class="mt-1 col-10 offset-1">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Firstname</mat-label>
                            <img matPrefix src="../assets/circle-user.png" alt="" class="input-icon">
                            <input matInput id="firstName" formControlName="firstName" required>
                        </mat-form-field>
                    </div>
                    <div class="mt-1 col-10 offset-1">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Lastname</mat-label>
                            <img matPrefix src="../assets/circle-user.png" alt="" class="input-icon">
                            <input matInput id="lastName" formControlName="lastName" required>
                        </mat-form-field>
                    </div>
                    <div class="mt-1 col-10 offset-1">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Date of Birth</mat-label>
                            <img matPrefix src="../assets/calendar-birhtday-cake.png" alt="" class="input-icon">
                            <input matInput [matDatepicker]="picker" id="dateOfBirth" formControlName="dateOfBirth" [max]="maxDate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="mt-1 col-10 offset-1">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Specialty</mat-label>
                            <img matPrefix src="../assets/badge (2).png" alt="" class="input-icon">
                            <input matInput id="specialty" formControlName="specialty" [matAutocomplete]="auto" required>
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let specialty of specialties" [value]="specialty">
                                    {{ specialty }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="mt-1 col-10 offset-1">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Email</mat-label>
                            <img matPrefix src="../assets/at.png" alt="" class="input-icon">
                            <input matInput type="email" id="email" formControlName="email" required>
                            <mat-error *ngIf="doctorForm.get('email')?.hasError('email') && !doctorForm.get('email')?.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="doctorForm.get('email')?.hasError('required')">
                                Email is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mt-1 col-10 offset-1">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Contact</mat-label>
                            <img matPrefix src="../assets/phone-flip.png" alt="" class="input-icon">
                            <span matPrefix class="phone-prefix">+261</span>
                            <input matInput type="number" id="contact" formControlName="contact" required>
                        </mat-form-field>
                    </div>
                    <div class="mt-1 col-10 offset-1">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Address</mat-label>
                            <img matPrefix src="../assets/map-marker-home.png" alt="" class="input-icon">
                            <input matInput id="address" formControlName="address" required>
                        </mat-form-field>
                    </div>
                    <div class="form-group row col-10 offset-1">
                        <div class="col-sm-6">
                            <button mat-raised-button color="primary" type="submit" [disabled]="doctorForm.invalid" class="w-100">Add</button>
                        </div>
                        <div class="col-sm-6">
                            <button mat-raised-button color="warn" type="button" (click)="doctorForm.reset()" class="w-100">Clear All</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
