<div class="container-fluid">
    <div class="row">
        <div class="col-12 root-content">

            <div class="row">

                <div class="col-12 search p-1">
                    <div class="row">
                        <div class="col-9">
                            <h2 class="list-patient-title">List of consultation</h2>
                        </div>

                        <form class="form-inline col-3 pt-4" >
                            <div class="row">
                                <div class="col-12">
                                    <input class="col-12" type="search" placeholder="Search for a patient..." aria-label="Search">
                                    <span class="search-icon" type="submit">
                                        <img src="../assets/magnifying-glass_7987910.png" alt="">
                                    </span>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <!-- consultation list -->
                <div class="col-12 mt-2" >
                    <div class="row">
                        <div class="col-12 patient-container">

                            <div class="Patient-info" *ngFor="let consultation of consultations" (mouseleave)="removeBlur()">

                                <div class="row  Patient-info-content" [ngClass]="{'blur': blurredPatientId === consultation.id}" (mouseenter)="addBlur(consultation.id)">
                                    
                                    <div class="col-10 offset-1 mb-5 header-info">
                                        <div class="row">

                                            <div class="col-2 info-pic">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <span>
                                                            <span><img src="../assets/medical.png" class="more-info-pic" alt="gender"></span>

                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="info-name col-10">
                                                <li> {{ consultation.patient.firstName }}</li>
                                                </div>


                                            <div class="col-12 text-center">
                                                <div class="row">
                                                    <li>Date of consultation <br> {{ consultation.consultationDate }}</li>
                                                </div>
                                            </div>

                                        </div>    
                                    </div>

                                    <hr class="col-6 offset-3">
 

                                    <div class="col-12 more-info"> 
                                        <ul>
                                            <li>
                                                <div class="row mb-2">
                                                    <div class="col-6 label-common">
                                                        Reason:
                                                    </div>
                                                    <div class="col-6 second-option">
                                                        {{ consultation.consultationReason }}
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row mb-2">
                                                    <div class="col-6 label-common">
                                                        Diagnosis:
                                                    </div>
                                                    <div class="col-6 second-option">
                                                        {{ consultation.diagnosis }}
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row mb-2">
                                                    <div class="col-6 label-common">
                                                        Prescribed treatment:
                                                    </div>
                                                    <div class="col-6 second-option">
                                                        {{ consultation.prescribedTreatment }}
                                                    </div>
                                                </div> 
                                            </li>
                                            <li>
                                                <div class="row mb-2">
                                                    <div class="col-6 label-common">
                                                        Test results:
                                                    </div>
                                                    <div class="col-6 second-option">
                                                        {{ consultation.testResults }}
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row mb-2">
                                                    <div class="col-3 label-common">
                                                        Observations:
                                                    </div>
                                                    <div class="col-9 second-option">
                                                        {{ consultation.observations }}
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                             </div>

                                
                
                                <div class="row" (mouseenter)="addBlur(consultation.id)">
                                    <div class="col-8 offset-2 option">
                                        <button mat-raised-button color="primary" (click)="editConsultation(consultation)">Modifier</button>
                                        <button mat-raised-button color="warn" (click)="deleteConsultation(consultation.id, consultation)">Supprimer</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

