<form (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="user.username" name="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="user.password" name="password" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="user.email" name="email" required>
    </div>

    <div>
        <label for="accountStatus">Account Status:</label>
        <select id="accountStatus" [(ngModel)]="user.accountStatus" name="accountStatus">
          <option *ngFor="let status of accountStatuses" [value]="status">{{status}}</option>
        </select>
      </div>
      <div>
        <label for="accountType">Account Type:</label>
        <select id="accountType" [(ngModel)]="user.accountType" name="accountType">
          <option *ngFor="let type of accountTypes" [value]="type">{{type}}</option>
        </select>
      </div>
      <div>
        <label for="accountState">Account State:</label>
        <select id="accountState" [(ngModel)]="user.accountState" name="accountState">
          <option *ngFor="let state of accountStates" [value]="state">{{state}}</option>
        </select>
      </div>
      <button type="submit">Create Account</button>
    </form>