<div class="container-fluid">
    <div class="row">
        <div class="col-12 root-content">

            <div class="row">

                <div class="col-12 search p-1">
                    <div class="row">
                        <div class="col-9">
                            <h2 class="list-doctor-title">List of Doctors</h2>
                        </div>

                        <form class="form-inline col-3 pt-4" >
                            <div class="row">
                                <div class="col-12">
                                    <input class="col-12" type="search" placeholder="Search for a patient..." aria-label="Search">
                                    <span class="search-icon" type="submit">
                                        <img src="../assets/magnifying-glass_7987910.png" alt="">
                                    </span>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <!-- doctor list -->
                <div class="col-12 mt-2" >
                    <div class="row">
                        <div class="col-12 doctor-container">
                                    <div class="Doctor-info" *ngFor="let doctor of doctors">
                                        <div class="row  Doctor-info-content" [ngClass]="{'blur': blurredDoctorId === doctor.id}" (mouseenter)="addBlur(doctor.id)">

                                            <div class="col-10 offset-1 mb-5 header-info">
                                                <div class="row">

                                            <div class="col-2 info-pic">
                                                <div class="row">
                                                    <div class="col-12">
                                                <span><img src="../assets/nurse.png" alt=""></span>
                                                </div>
                                                </div>
                                            </div>

                                            <div class="info-name col-10">
                                                <h1 class="firstName ">{{  doctor.firstName }}</h1>
                                                <h1 class="lastName">{{ doctor.lastName }}</h1>
                                            </div>

                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <ng-container *ngIf="calculateAge(doctor.dateOfBirth).isLessThanOneMonth; else showMonthsOrYears">
                                                            {{ calculateAge(doctor.dateOfBirth).age }} day(s) old
                                                        </ng-container>
                                                        <ng-template #showMonthsOrYears>
                                                            <ng-container *ngIf="calculateAge(doctor.dateOfBirth).isLessThanOneYear; else showYears">
                                                                {{ calculateAge(doctor.dateOfBirth).age }} month(s) old
                                                            </ng-container>
                                                            <ng-template #showYears>
                                                                {{ calculateAge(doctor.dateOfBirth).age }} year(s) old
                                                            </ng-template>
                                                        </ng-template>
                                                    </div>
                                                    <div class="col-4 idDoctor">
                                                        <span><img src="../assets/id-card.png" alt="id"></span>{{ doctor.id }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>

                                        <hr class="col-6 offset-3">

                                        <div class="col-12 more-info"> 
                                            <ul>
                                                <li>
                                                    <li>
                                                        <div class="row mb-2">
                                                            <div class="col-6 ">
                                                                <span><img src="../assets/badge (1).png" class="more-info-pic" alt="date of birth"></span>
                                                            </div>
                                                            <div class="col-6 second-option">
                                                                {{ doctor.specialty }}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row mb-2">
                                                            <div class="col-6">
                                                                <span><img src="../assets/telephone.png" class="more-info-pic" alt="contact"></span>
                                                            </div>
                                                            <div class="col-6 second-option">
                                                                {{ doctor.contact }}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row mb-2">
                                                            <div class="col-6">
                                                                <span><img src="../assets/date-of-birth.png" class="more-info-pic" alt="date of birth"></span>
                                                            </div>
                                                            <div class="col-6 second-option">
                                                                {{ doctor.dateOfBirth }}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row mb-2">
                                                            <div class="col-6">
                                                                <span><img src="../assets/address.png" class="more-info-pic" alt="address"></span>
                                                            </div>
                                                            <div class="col-6 second-option">
                                                                {{ doctor.address }}
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="row mb-2">
                                                            <div class="col-6">
                                                                <span><img src="../assets/email (1).png" class="more-info-pic" alt="address"></span>
                                                            </div>
                                                            <div class="col-6 second-option">
                                                                {{ doctor.email }}
                                                            </div>
                                                        </div>
                                                    </li>
      
                                            </ul>
                                        </div>
                                    </div>
                
                                <div class="row" (mouseenter)="addBlur(doctor.id)">
                                    <div class="col-8 offset-2 option">
                                        <button mat-raised-button (click)="editDoctor(doctor)">Modifier</button>
                                        <button mat-raised-button color="warn" (click)="deleteDoctor(doctor.id, doctor)">Supprimer</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

