<div class="container-fluid">
    <div class="row">
        <div class="col-12 root-content">

            <div class="row">

                <div class="col-12 search p-1">
                    <div class="row">
                        <div class="col-9">
                            <h2 class="list-appointment-title">List of Appointments</h2>
                        </div>

                        <form class="form-inline col-3 pt-4" >
                            <div class="row">
                                <div class="col-12">
                                    <input class="col-12" type="search" placeholder="Search for a Appointment..." aria-label="Search">
                                    <span class="search-icon" type="submit">
                                        <img src="../assets/magnifying-glass_7987910.png" alt="">
                                    </span>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <!-- Appointment list -->
                <div class="col-12 mt-2" >
                    <div class="row">
                        <div class="col-12 appointment-container">

                            <div class="Appointment-info" *ngFor="let appointment of appointments" (mouseleave)="removeBlur()">

                                <div class="row  Appointment-info-content" [ngClass]="{'blur': blurredAppointmentId === appointment.id}" (mouseenter)="addBlur(appointment.id)">
                                    <div class="col-10 offset-1 mb-5 header-info">
                                        <div class="row">

                                            <div class="col-2 info-pic">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <span>
                                                            <span><img src="../assets/doctor-patient.png" class="more-info-pic" alt="date of birth"></span>
 
                                                           
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="info-name col-10">
                                                <h1 class="firstName ">{{ formatFirstName(appointment.patient.firstName) }}</h1>
                                                <h1 class="lastName">{{ formatLastName(appointment.patient.lastName) }}</h1>
                                            </div>
                                        </div>    
                                    </div>

                                    <hr class="col-6 offset-3">
 
                                    <div class="col-12 more-info"> 
                                        <ul>
                                            <li>
                                                <div class="row mb-2">
                                                    <div class="col-6 ">
                                                        <span><img src="../assets/nurse.png" class="more-info-pic" alt="date of birth"></span>
                                                    </div>
                                                    <div class="col-6 second-option">
                                                        {{ appointment.doctor.firstName }}
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row mb-2">
                                                    <div class="col-6">
                                                        <span><img src="../assets/medical.png" class="more-info-pic" alt="gender"></span>
                                                    </div>
                                                    <div class="col-6 second-option">
                                                        {{ appointment.patient.firstName }}
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row mb-2">
                                                    <div class="col-6">
                                                        <span><img src="../assets/calendar_2693507.png" class="more-info-pic" alt="address"></span>
                                                    </div>
                                                    <div class="col-6 second-option">
                                                        {{ appointment.appointmentDate }}
                                                    </div>
                                                </div> 
                                                
                                            </li>
                                            <li>
                                                <div class="row mb-2">
                                                    <div class="col-6">
                                                        <span><img src="../assets/lightbulb-question_10470612.png" class="more-info-pic" alt="email"></span>
                                                    </div>
                                                    <div class="col-6 second-option">
                                                        {{ appointment.reason }}
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                                
                
                                <div class="row "   (mouseenter)="addBlur(appointment.id)">
                                    <div class="col-8 offset-2 option">
                                        <button mat-button (click)="editAppointment(appointment)">Modifier</button>
                                        <button mat-button color="warn" (click)="deleteAppointment(appointment.id, appointment)">Supprimer</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

