<div class="container-fluid">
     <div class="row">
        <form [formGroup]="patientForm" (ngSubmit)="addPatient()" class="form-container col-6 border p-4">

            <div class="root-form col-9 offset-1">
                <div class="form-group mb-2 mt-5">
                    <span class="login-id"><img src="../assets/badge_5963350.png" alt=""></span>
                    <input type="text" class="form-style col-12 " id="firstName" formControlName="firstName" placeholder="" required>
                    <span class="placeholder-form-style">Name</span>
                </div>
                <div class="form-group mb-2">
                    <span class="login-id"><img src="../assets/badge_5963350.png" alt=""></span>
                    <input type="text" class="form-style col-12 " id="lastName" formControlName="lastName" placeholder="" required>
                    <span class="placeholder-form-style">Lastname</span>
                </div>
                <div class="form-group mb-2">
                    <span class="login-id"><img src="../assets/halloween_8543316.png" alt=""></span>
                    <input type="date" class="form-style col-12 " id="dateOfBirth" formControlName="dateOfBirth" placeholder="" required>
                </div>
                <div class="form-group mb-2">
                    <span class=""><img src="../assets/gender_12345.png" alt=""></span>
                    <div class="gender-type col-8 offset-2">
                        <label class="gender-button"><input type="radio" name="gender" value="MALE" formControlName="gender"> Male</label>
                        <label class="gender-button"><input type="radio" name="gender" value="FEMALE" formControlName="gender"> Female</label>
                        <label class="gender-button"><input type="radio" name="gender" value="OTHER" formControlName="gender"> Other</label>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <span class="login-id"><img src="../assets/location_9865806.png" alt=""></span>
                    <input type="text" class="form-style col-12 " id="address" formControlName="address" placeholder="" required>
                    <span class="placeholder-form-style">Address</span>
                </div>
                <div class="form-group mb-2">
                    <span class="login-id"><img src="../assets/phone-book_5963179.png" alt=""></span>
                    <input type="number" class="form-style col-12 " id="phoneNumber" formControlName="phoneNumber" placeholder="" required>
                    <span class="placeholder-form-style">Phone number</span>
                </div>
                <div class="form-group mb-2">
                    <span class="login-id"><img src="../assets/mail_5963120.png" alt=""></span>
                    <input type="text" class="form-style col-12 " id="email" formControlName="email" placeholder="" required>
                    <span class="placeholder-form-style">Email</span>
                </div>
        
                <div class="form-group row">
                    <div class="col-sm-6">
                        <button type="submit" [disabled]="patientForm.invalid" class="btn btn-primary w-100">Add</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" (click)="patientForm.reset()" class="btn btn-secondary w-100">Clear All</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="form-container-right col-6" >
            <h1 class="title mt-4 mb-4">
                Register a patient
            </h1>
        </div>

     </div>
</div>  

<!-- Success Message Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Patient added successfully!</h5>
            </div>
            <div class="modal-body">
                <!-- Display details of the added patient -->
                <p>First Name: {{ newPatientDetails?.firstName }}</p>
                <p>Last Name: {{ newPatientDetails?.lastName }}</p>
                <p>Date of Birth: {{ newPatientDetails?.dateOfBirth }}</p>
                <p>Gender: {{ newPatientDetails?.gender }}</p>
                <p>Address: {{ newPatientDetails?.address }}</p>
                <p>Phone Number: {{ newPatientDetails?.phoneNumber }}</p>
                <p>Email: {{ newPatientDetails?.email }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary" (click)="dismissModal()">Show List</button>
            </div>
        </div>
    </div>
</div>
