body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;

}

.first {
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
.first-right-pic {
    background-image: url('../../assets/young-beautiful-doctor-woman-holding-clipboard-pink-isolated-background-with-confident-expression-smart-face-thinking-serious.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 93vh;
}

.first-left-pic{
    background-color: rgba(10, 0, 5, 0.952);
}


/* Style pour les colonnes */
.first-right-pic {
    flex: 1;
    display: flex;
    align-items: center; /* Centre verticalement le contenu de chaque colonne */
    justify-content: center; /* Centre horizontalement le contenu de chaque colonne */
}


.second {
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.third {
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.stepper-container-root {
  background-color: #ffffff;
}

@keyframes zoomIn {
    from {
      transform: scale(0.7);
    }
    to {
      transform: scale(1);
    }
  }

  
  .zoomIn {
    animation: zoomIn 1s ease-out forwards;
  }


.fourth {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    padding-top: 50px;
}

.last {
    height: 70vh;
    background-color: rgba(19, 18, 18, 0.989);
}

/* Style spécifique pour le bouton "Sign Up" */
.btn-signup {
    background-color: #28A745; /* Couleur de fond vive pour "Sign Up" */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajouter une ombre subtile */

}

.log{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007BFF; /* Couleur de fond vive */
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-signup:hover {
    background-color: #218838; /* Couleur de fond au survol pour "Sign Up" */
    transform: scale(1.05); /* Légère augmentation de la taille au survol */

}

.scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw; /* Largeur qui couvre toute la fenêtre */
    max-width: 100%; /* Empêche le débordement */
    scroll-behavior: smooth; /* Défilement doux */
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

.scroll-section {
    scroll-snap-align: start;
    opacity: 0; /* Default to invisible */
    transition: opacity 0.5s ease-in-out; /* Smooth transition */

}


.logo {
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.logo img {
    height: 35px;
    /* Ajustez la hauteur selon vos besoins */
    margin-right: 10px;
    /* Espacement entre l'image et le texte du logo */
}

.logo-title {
    font-weight: 200;
    font-size: 20px;
    /* Mettre en gras pour une meilleure lisibilité */
    margin-left: 10px;
    /* Espacement entre l'image et le texte du logo */
    margin-top: 7px;
    color: rgb(255, 255, 255);
    font-family: 'MyCustomFont', sans-serif; /* Appliquer la nouvelle police */


}
@font-face {
    font-family: 'MyCustomFont';
    src: url('../../fonts/dinasty-2-font/DinastyPersonalUseBold-rgqzA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Retirer les bordures et autres styles par défaut des liens */
.no-border {
    border: none;
    outline: none;
    box-shadow: none;
  }
  
  .no-border:focus, .no-border:active {
    border: none;
    outline: none;
    box-shadow: none;
  }
.menu-option {
    text-align: right;
}  

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin-left: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #ffcc00;
}

.btn-option:hover {
    color: #920050 !important;
}

.log {
    margin-left: 80px;
    border-color: #ffffffac;
    background-color: #ffffff;
    color: #000000 !important;


}
.log:hover {
    opacity: 0.8;
}
.content {
    padding: 20px;
}


.nav {
    z-index: 1;
    padding-left: 30px;
    background-color: rgba(10, 0, 5, 0.952);
    height: 8vh;
    box-shadow: 0px 4px 8px rgba(199, 0, 123, 0.826); /* Added shadow on bottom */
}
.title {
    color: #fffffffc;
    word-spacing: 5px;
    text-align: center;
    margin-top: 70px;

}

h1 {
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 20px;
    
}

.btn-primary:hover {
    color: white !important;

}

.btn:active:focus {
    box-shadow: none !important;
  }
.lead {
    color: #e0e0e0;
    padding-left: 30px;
    font-size: 24px;
    margin-bottom: 20px; /* Espacement entre les paragraphes */
    line-height: 1.6; /* Espacement entre les lignes */
    text-align: left; /* Aligner le texte à gauche */

}

.slideIn-right {
    animation: slideIn-right 2s forwards;
}

@keyframes slideIn-right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
  
.slideIn-left {
    animation: slideIn-left 2s forwards;
}

@keyframes slideIn-left {
from {
    transform: translateX(+100%);
}
to {
    transform: translateX(0);
}
}


  

.second-circle {
    border-radius: 10%;
    height: 600px;
    background-color: rgba(40, 39, 39, 0);
    color: #ffffff;
    justify-content: center;
    margin-top: 80px;

}

.second-title {
    margin-left: 20px;
    margin-top: 50px;
}

.about-us {
    font-size: 30px;
    color: #ffffffb8;
}

.about-us-title {
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
    margin-left: 290px;

}

.Learn-more {
    margin-top: 10%;
    margin-left: 320px;
    border-radius: 50px;
    border: 2px solid rgb(0, 42, 255);
    background-color: transparent;
    /* Rendre le fond transparent */
    color: rgb(0, 42, 255);
    /* Couleur du texte */
    font-size: 18px;
    /* Taille de la police */
    font-weight: bold;
    /* Gras */
    text-transform: uppercase;
    /* Mettre en majuscules */
}

.Learn-more:hover {
    filter: blur(1px);
    /* Ajouter un flou au survol */
}


.trait {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 255, 255, 0.906);
}

h2 {
    color: #ffffffbd;
}

.info-find-us {
        color: #ffffff;
}


.contact-info {
    color: rgb(28, 147, 232);
}

.contact-info ul {
    list-style: none;
    /* Supprimer les puces de la liste */
    padding: 0;
    /* Supprimer les marges intérieures de la liste */
}

.contact-info ul li {
    margin-bottom: 5px;
    /* Ajouter un espace entre chaque service */
}

.contact-info ul li a {
    text-decoration: none;
    /* Supprimer le soulignement des liens */
    color: inherit;
    /* Utiliser la couleur par défaut du texte */
}

.contact-info ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footer {
    padding: 20px;
}

.icon-logo {
    font-size: 30px;
}

.icon-logo img {
    height: 50px;
}

.login-form {
    margin-top: 50px;
    border-radius: 20px;


}

.loginFormContent {
    height: 90vh;
    background-color: rgb(7, 7, 7);
    border-radius: 20px 0px 0px 20px;
    border: #000000eb;
    border-style: groove;
    color: #ffffff;
}

.loginFormPic {
    height: 90vh;
    background-image: url('../../assets/2149341567.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.login-user-logo img{
    height: 80px;
    margin-left: 20px;
}

.title-form {
    margin-left: 270px;
}
.login-id img {
    height: 35px;
    position: relative;
    left: 0px;
    top: 30px;
    
    
}

.username, .password {
    
    border: #ffffff00;
    height: 40px;
    border-bottom: #ffffff61 double;
    background-color: rgba(255, 255, 255, 0);
    font-size: large;
    padding-left: 60px;
    color: #ffffff;
    
}
/* Supprimer la bordure de focus */
.username:focus, .password:focus{
    outline: none;
    padding-left: 60px;
    font-size: 25px;
}

.placeholder-username, .placeholder-password{
    position: relative;
    top: -40px;
    left: 150px;
    color: #e4e4e4;
    font-size: large;
    transition: 0.5s;
    pointer-events: none;
    
}

.username:focus + .placeholder-username, .password:focus + .placeholder-password{
    transition: 0.5s;
    position: relative;
    top: -80px;
    left: 0px;
    color: #000000a8;
    
}

.username:not(:placeholder-shown)+.placeholder-username {
    opacity: 0;
    /* Rendre le placeholder transparent lorsque le champ contient du texte */
}

.password:not(:placeholder-shown)+.placeholder-password {
    opacity: 0;
    /* Rendre le placeholder transparent lorsque le champ contient du texte */
}

h3 {
    margin-left: 10px !important;
}

.create-account {
    color: green;
}



.BackToTop {
    margin-top: 100px;
}
.auth-title {
    margin-top: 250px;
    padding-left: 10px;
}

.auth-title-first {
    font-style: italic;
    font-size: 20px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.67);
}


.navbar-nav {
    list-style-type: none;
}

.navbar-nav li{
    display: inline;
}
.nav-item {
    font-size: 30px;

    
}


 .btn-add, .btn-list {
    font-size: 25px
}

.btn-add img , .btn-list img{
    height: 25px;
    
}
.btn-list:hover, .btn-add:hover{
    background-color: #00000016;
}

.down-arrow {
    height: 20px;
    display: inline-block;
    
}


.options{
    position: relative;
    top: 0px;
    left: 10px;
    height: 85px;
    width: 140px;
    transition: 2s;
    z-index: 1;
    border-radius: 10px;
    border: #00000013 solid 1px;
    padding: 5px;
    background-color: #ffffff58;
    

    
}
.options  a{
    text-decoration: none;
    height: 35px;
    width: 130px;
    font-weight: 100;
    padding-bottom: 3px;
    border-radius: 4px;
    margin-bottom: 5px;
    color: #000000c8;

}

.register-text, .list-text {
    padding-left: 20px;
    font-size: 15px;

}


.nav-link {
    color: #0000008c ;
    transition: 0.5s;
    font-size: 20px;
    

}

.nav-link:hover {
    color: #001eff8c ;
    transition: 0.5s;
    transform: scale(1.1);
}

.nav-link:hover .options {
 transition: 1s;
} 

.nav-link.btn.selected {
    border-bottom: 2px solid #000000;  /* Changez la couleur selon vos besoins */
}

/*stepper*/
.stepper-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
}

  .stepper {
    display: flex;
    flex-direction: column;
    width: 50px;
    padding-left: 25px;
  }

  .step {
    width: 20px;
    height: 20px;
    background-color: #dee1fef2;
    border-radius: 50%;
    border: #00000004 solid 1px;
    margin: 20px;
    position: relative;
    left: 2px;
    display: flex;
    justify-content: center;
    margin-left: -10px;
  }

  .active-step {
    width: 20px;
    height: 20px;
    background-color:  #2084ffee;
    border-radius: 50%;
    border: #00000001 solid 1px;
    margin: 20px;
    position: relative;
    left: 2px;
    display: flex;
    justify-content: center;
    margin-left: -10px;
    animation: colorShift infinite 1.4s;
  }

  @keyframes colorShift {
    0% { background-color: rgba(212, 212, 255, 0.751); }
    100% { background-color:  #20b8ffee; }
  }


.kit {
  margin-left: 100px;
  position: relative;
  bottom: 10px;

}



  .line {
    width: 2px;
    height: 60px;
    background-color: #00000005;
  }

  .line::after {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background: repeating-linear-gradient(
      to bottom,
      #5f5f5f,
      #4d4d4d 2px,
      transparent 2px,
      transparent 4px
    );
  }
  .right-content {
    padding: 0;
    margin: 0;
    padding-right: 20px;
  }


  .active-route {
    color: #20b1ffee;
    font-weight: bold;
    font-size: 24px;
    transition: 1.5s;
  }
  
  
  .active-link {
    text-decoration: underline;
    color: red;
  }

  .nav-item button {
    height: 10px;
    margin-top: 12px;
    

  }

  .fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .fixed-button img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50px;

  }

  .service-unavailable {
    text-align: center;
    padding-top:15% ;
    
  }
  
  .service-unavailable img {
    width: 150px; /* Ajustez la taille selon vos besoins */
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .btn-logout {
    color: white;
    background-color: #dc3545; /* Rouge Bootstrap */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-logout:hover {
    background-color: #c82333; /* Rouge plus foncé pour le survol */
  }


  .service-available {
    text-align: center;
    padding-top: 15%;
  }
  
  .service-available img {
    width: 150px; /* Ajustez la taille selon vos besoins */
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .service-available h1 {
    color: green;
  }

  li .acceder-service {
    color: rgb(0, 30, 255);
    height: 20px;
    width: 100px;
    border-radius: 5px;
    border: #00000000;
    background-color: #00000010;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    margin-top: 10px;
    padding-bottom: 50px;

  }
  
  .acceder-service:hover {
    background-color: #0057b300; /* Bleu plus foncé pour le survol */
  }